@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
  
  --color-brand-navy: #0A1931;
  --color-brand-gold: #C5A059;
  --color-brand-cream: #FAF9F6;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply font-sans text-slate-900 antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}
